<!DOCTYPE html>
<html>
<head>
    <title>Project Management</title>
</head>
<body>
    <h1>Projects</h1>
    <ul>
        {% for project in projects %}
            <li><a href="{% url 'project_detail' pk=project.pk %}">{{ project.name }}</a></li>
        {% empty %}
            <li>No projects available</li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_project' %}">Create New Project</a> <!-- Добавление кнопки для создания нового проекта -->

    <h1>Employees</h1>
    <ul>
        {% for employee in employees %}
            <li>{{ employee.first_name }} {{ employee.last_name }} - Position: {{ employee.position }} - Email: {{ employee.email }}</li>
        {% empty %}
            <li>No employees available</li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_employee' %}">Create New Employee</a> <!-- Добавление кнопки для создания нового работника -->

    <h1>Tasks</h1>
    <ul>
        {% for task in tasks %}
            <li>{{ task.title }} - Employee: {{ task.employee.first_name }} {{ task.employee.last_name }}</li>
        {% empty %}
            <li>No tasks available</li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_task' %}">Create New Task</a> <!-- Добавление кнопки для создания новой задачи -->

</body>
</html>
